.navbar-header-container{
  background-color: #dc3545;
  display: flex;
  align-items: center !important;
  max-height: 200px;
}

.btn-header-container {
  align-items: center !important;
  /* background-color: green; */
  display: flex;
  height: 100%;
  justify-content: space-around;
  overflow-y: hidden;
  padding: 0px 60px;
  width: 100%;
}

.link-profile-header {
  align-self: center;
  margin-left: 20px;
}

.page-title {
  color: white;
  font-size: 35px;
  align-self: center;
}

.search-btn-header {
  background-color: #dc3545;
  border: none;
}

.header {
  /* background-color: yellow; */
  overflow-y: hidden;
  height: 80px;
  align-items: center;
}

.page-title {
  /* background-color: black; */
  margin-top: 40px;
}
