.navbar-header-container{
  background-color: #e77f2f;
  display: flex;
  align-items: center !important;
  max-height: 200px;
}

.btn-header-container {
  align-items: center !important;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.link-profile-header {
  align-self: center;
  margin-left: 20px;
}

.page-title {
  color: white;
  font-size: 35px;
  align-self: center;
}

.search-btn-header {
  background-color: #e77f2f;
  border: none;
}
