* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.page-title {
  margin-bottom: 45px;
  text-decoration: underline;
  text-decoration-color: white;
  text-shadow: 1px 2.13px #00000075;
}

.div-details-container {
  align-items: center;
  background-color: rgba(150, 100, 67, 0.616);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 3% 5% 4%;
  width: 100%;
}

.container-group {
  background-color: #eeeeeead;
  border: 1px solid rgba(128, 128, 128, 0.35);
  box-shadow: 0px 0px 30px 30px rgba(49, 25, 25, 0.6);
  border-radius: 1%;
  height: 83%;
  margin: 1.5% 0% 3%;
  width: 83%;
}

.img-ingredients-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-container {
  align-self: flex-start;
  display: flex;
  max-height: 550px;
  min-height: 550px;
  justify-content: flex-start;
  padding: 0% 0% 2% 2%;
  max-width: 600px;
  min-width: 600px;
}

.recipe-img {
  box-shadow: 0px 0px 10px 10px rgba(49, 25, 25, 0.9);
  width: 100%;
}

.title-ingredients-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  width: 50%;
}

.recipe-title {
  display: flex;
  flex-wrap: wrap;
  line-height: 99%;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

#ingredients {
  text-align: center;
  padding: 3% 0 0 10%;
}

.ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 35%;
  width: 100%;
}

li {
  font-weight: 600;
}

.btns-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 35% 0;
  width: 30%;
}

.share-icon {
  height: 50px;
  width: 50px;
}

.favorite-icon {
  height: 50px;
  width: 50px;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1% 4% 4% 4%;
}

.video-container {
  text-align: center;
  margin: 2% 0% 5%;
  overflow: hidden;
}

.video-img {
  border-radius: 1%;
  margin: 1% 0% 5%;
  width: 60%;
}

.btns-recipe-details {
  font-weight: bolder;
}

.text-category {
  width: 50%;
}

.btn-make-recipe-container {
  text-align: center;
  width: 100%;
}

.recommended-drinks {
  /* margin-top: 10px; */
  width: 100%;
}

.btn-make-recipe {
  font-size: 20px;
  height: 60px;
  margin-top: 50px;
  width: 55%;
}