* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  align-items: center;
  background: #f0dfdf;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.button-start-recipe {
  bottom: 0;
  position: fixed;
  width: 10%;
}
